body{
    padding: 1em;
    background-color: #F4FFF8;
}
h1{
    text-align: center;
    color: #1C3738;
}
h2{
    color: #1C3738;
}
h3{
    color: #4D4847;
}
h4 {
    color: #4D4847;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    /*color: red;*/
}

footer{
    color: #000F08;
    text-align: center;
    font-size: small;
}
.div-border{
    border-top: lightslategrey solid 1pt;
}
.highlight-button {
    border: 1pt solid green;
}

.media-descr{
    display: inline;
}
.padding{
    padding: 2em;
    margin: 2em;
}
.videos-list-row{
    border-bottom: solid 1pt lightslategrey;
    border-top: solid 1pt lightslategrey;
    padding: 2em;
    display: flex;
    width: 100%;
}
.videos-list-table{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
.video-data {
    font-size: 0.9em;
}
.form-group p {
    padding: 1em;
    text-align: center;
}
